@tailwind base;
@tailwind components;
@tailwind utilities;

/* Règle universelle */
*, *::before, *::after {
  box-sizing: border-box;
}

/* CONFIGURATION GRID :
   On transforme le #root en une grille de 100vh de haut.
   Cela force l'application à ne jamais dépasser l'écran.
*/
html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Scroll global interdit */
}

#root {
  display: grid;
  grid-template-rows: auto 1fr; /* Ligne 1: Auto (Navbar), Ligne 2: Reste (Main) */
}
