@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- CONFIGURATION CRITIQUE POUR L'APPLICATION --- */

/* On force la racine du site à prendre exactement 100% de la fenêtre.
   On interdit le scroll sur le 'body' pour forcer le scroll 
   uniquement dans nos zones spécifiques (texte, bibliothèque).
*/
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* C'est cette ligne qui empêche la page de bouger */
}

/* Amélioration du rendu du texte (Optionnel mais recommandé) */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
